



body{
  background-color: black;
  padding: 0;
  margin: 0;
  cursor: crosshair!important;
  /* cursor: none!important; */
  width: 100vw;
  height:100vh;
  animation: opacity 1s forwards;
}

body::-webkit-scrollbar {
  display: none;
}

@keyframes opacity {
  from {opacity: 0;}
  to {opacity:100%!important}
  }

a{
  text-decoration: none;
  color:inherit;
  cursor:crosshair!important;

}

.class0{
  position: absolute;
  top:0%;
}

/* .canvas{
  position: fixed;
  background-color: none;
  z-index: -1;
} */

/* -----------------------------------
-----------LOGO--------------------- */

.logo{
  position: fixed;
  top: 40px;
  left:10vw;
  color: #8cc63f;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 35px;
}

/* MENU */
.menu{
  position: fixed;
  top: 65px;
  right:18vw;
  width:60px;
  height: 60px;
  border-radius: 100%;
  transform: translate(50%, -50%);
  /* border: 1px solid orange; */
}

@keyframes menu_open {
  from{
    width:70px;
    height: 70px;
    background-color: none;
  }
  to{
    width:250vh;
    height: 250vh;
    background-color: #8cc63f;
  }

}

.menu_opening{
  position: fixed;
  top: 80px;
  right:13vw;
  border-radius: 100%;
  transform: translate(50%, -50%);
  animation:menu_open 1.2s forwards;
}

.menu_closing{
  animation:menu_open 1s reverse forwards;
}

.linea_menu{
  position: absolute;
  width:35px;
  height: 4px;
  left:50%;
}

.linea_dritta1{
    transform: translate(-50%, -50%);
    top:40%;
    background-color: #8cc63f;
}

.linea_dritta2{
    transform: translate(-50%, -50%);
    top:60%;
    background-color: #8cc63f;
}

@keyframes orange-white {
  from{background-color: #8cc63f;}
  to{background-color: white;}
}

@keyframes none-orange {
  from{background-color: none;}
  to{background-color: #8cc63f;}
}



@keyframes ruota_linea1 {
  from{
    transform: translate(-50%, -50%);
    top:40%;
  }

  to{
    transform: translate(-50%, -50%)rotate(45deg);
    top:50%;
  }
}

@keyframes ruota_linea2 {
  from{
    transform: translate(-50%, -50%);
    top:60%;
  }

  to{
    transform: translate(-50%, -50%)rotate(-45deg);
    top:50%;
  }
}

.linea_ruotata1{
    animation: ruota_linea1 1s forwards!important;
    background-color: white;
}

.linea_ruotata2{
    animation: ruota_linea2 1s forwards!important;
    background-color: white;
}


/* MENU LIST */

.menu_container{
  position: fixed;
  top: 50vh;
  left:50vw;
  width:70vw;
  color: white;
  font-family: 'Roboto', sans-serif;
  height: 60vh;
  transform: translate(-50%, -50%);
  animation: opacity 1.5s forwards;
}

.menu_list{
  position: fixed;
  width:100%;
  height:auto;
  top:0%;
  font-size: 9vw;
  font-weight: bold;
  line-height: 13vw;
}

.menu_contact{
  position: absolute;
  width:auto;
  height: auto;
  bottom: 0px;
  font-weight: 400;
  font-size: 5.5vw;
  line-height: 8vw;
}

.menu_line{
  width: 100%;
  height: 0.8vw;
  background-color: white;
  margin-bottom: 8vw;
}

/* -----------------------------------
-----------MENU PORTFOLIO generali--------------------- */

.opacity1{
  opacity:50%!important;
  color:white!important;
}

.nome{
  font-weight: bold;
  font-size: 9vw;
}

.descrizione{
  font-size: 4vw;
  line-height: 1.7;
  letter-spacing: 1px;
}


.portfolio_container{
  position: absolute;
  top: 50px;
  left:15vw;
  width:70vw;
  color: white;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 10vh;
  height: auto;
  /* border: 1px solid green; */
}

.display{
    display: table;
  }

.hide{
    display: none!important;
  }


/* LINE VIEW */


.nome_e_descrizione_line{
      width:100%;
      margin-top: 70px;
      opacity:0%;
      color: white;
    }

    .image_line{
      display:none;
      position: fixed;
      right: 5vw;
      bottom: 10vh;
      width: 25vw;
      opacity: 60%;
    }




    /* -----------------------------------
    -----------FILTRI--------------------- */


.filtri_container{
  display: none;
}

/* --------------------------------------------------------------------
------------------------------------------------------------------- */
/* ----------- DESKTOP ---------------------------------------------------
-------------------------------------------------------------------------- */
 /* ------------------------------------------------------------------------- */



@media screen and (min-width: 1024px){

  /* -----------------------------------
  -----------LOGO--------------------- */

  .logo{
    position: fixed;
    top: 50px;
    left:10vw;
    color: #8cc63f;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 40px;
  }

  /* MENU */

  .menu{
    position: fixed;
    top: 80px;
    right:13vw;
    width:70px;
    height: 70px;
    border-radius: 100%;
    transform: translate(50%, -50%);
    /* border: 1px solid orange; */
  }



  @keyframes menu_open {
    from{
      width:70px;
      height: 70px;
      background-color: none;
      }
    to{
      width:220vw;
      height: 220vw;
      background-color: #8cc63f;
      }

    }


  .menu_opening{
    position: fixed;
    top: 80px;
    right:13vw;
    width:400vw;
    height: 400vw;
    border-radius: 100%;
    transform: translate(50%, -50%);
    animation:menu_open 1.2s forwards;
  }

  .menu_closing{
    animation:menu_open 1s reverse forwards;
  }

  .linea_menu{
    position: absolute;
    width:45px;
    height: 4px;
    left:50%;
  }

  .linea_dritta1{
      transform: translate(-50%, -50%);
      top:40%;
      background-color: #8cc63f!important;
  }

  .linea_dritta2{
      transform: translate(-50%, -50%);
      top:60%;
      background-color: #8cc63f!important;
  }

  @keyframes orange-white {
    from{background-color: #8cc63f;}
    to{background-color: white;}
  }

  @keyframes none-orange {
    from{background-color: none;}
    to{background-color: #8cc63f;}
  }

  .menu:hover > .linea_menu{
    animation: orange-white 0.5s forwards;
  }

  .menu:hover{
    animation: none-orange 0.5s forwards;
  }

  @keyframes ruota_linea1 {
    from{
      transform: translate(-50%, -50%);
      top:40%;
    }

    to{
      transform: translate(-50%, -50%)rotate(45deg);
      top:50%;
    }
  }

  @keyframes ruota_linea2 {
    from{
      transform: translate(-50%, -50%);
      top:60%;
    }

    to{
      transform: translate(-50%, -50%)rotate(-45deg);
      top:50%;
    }
  }

  .linea_ruotata1{
      animation: ruota_linea1 1s forwards!important;
      background-color: white;
  }

  .linea_ruotata2{
      animation: ruota_linea2 1s forwards!important;
      background-color: white;
  }


  /* MENU LIST */

  .menu_list{
    position: fixed;
    width:45%;
    height:auto;
    top:10%;
    left: 10%;
    font-size: 40pt;
    font-weight: bold;
    line-height: 100pt;
    /* background-color: orange; */
  }

  .menu_contact{
    position: absolute;
    width:45%;
    left:50%;
    height: auto;
    bottom: 40px;
    font-weight: 400;
    font-size: 20pt;
    line-height: 40pt;
    /* background-color: red; */
  }

  .menu_line{
    width: 100%;
    height: 5px;
    background-color: white;
    margin-bottom: 35pt;
  }

  @keyframes menu_name_bigger {
    from{font-size: 40pt;}
    to{font-size: 50pt;}
  }

  @keyframes menu_name_contact_bigger {
    from{font-size: 20pt;}
    to{font-size: 25pt;}
  }

.menu_name:hover{
  animation: menu_name_bigger 0.5s forwards;
}

.menu_contact_name:hover{
animation: menu_name_contact_bigger 0.5s forwards;
}


  /* -----------------------------------
  -----------MENU PORTFOLIO generali--------------------- */

  .opacity1{
    opacity:30%!important;
    color:white!important;
  }

  .nome{
    font-weight: bold;
    font-size: 30pt;
  }

  .descrizione{
    font-size: 10pt;
    line-height: 1.7;
    letter-spacing: 1px;
  }


  .portfolio_container{
    position: absolute;
    top: 20vh;
    left:35vw;
    width:50vw;
    color: white;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 10vh;
    height: auto;
    /* border: 1px solid green; */
  }

  @keyframes opacity {
    from {opacity: 0;}
    to {opacity:100%!important}
    }

    @keyframes opacity2 {
      from {opacity: 0.5;}
      to {opacity:100%!important}
      }

  .display{
      display: table;
    }

  .hide{
      display: none!important;
    }

  /* LINE VIEW */

  .image_line{
    display: block;
    position: fixed;
    right: 5vw;
    bottom: 10vh;
    width: 25vw;
    opacity: 60%;
  }


  .nome_e_descrizione_line{
        width:50vw;

        margin-top: 70px;
        opacity:0%;
        color: white;
      }



  .nome_e_descrizione_line:hover{
    animation: opacity 0.5s forwards;
    opacity:100%!important;
  }



  /* IMAGE VIEW */

  .image_img{
    width: 100%;
  }


  .nome_e_descrizione_img{
        width:44%;
        height: auto;
        /* height: 70px; */
        /* border: 1px solid yellow; */
        margin-top: 50px;
        opacity:50%;
        color: white;
        margin-right:25px;
        display: inline-block;
      }



  .nome_e_descrizione_img:hover{
    animation: opacity2 0.5s forwards;
    opacity:100%!important;
  }


  /* -----------------------------------
  -----------FILTRI--------------------- */

  .filtri_container{
    position: fixed;
    bottom: 10vh;
    right:70vw;
    width:20vw;
    color: white;
    font-family: 'Roboto', sans-serif;
    display: inline-block;
    /* border: 1px solid yellow; */
    height:auto;
  }

  .line_filtri{
    height: 2px;
    width: 80%;
    background-color: white;
    margin-top: 8px;
    margin-bottom: 30px;
  }

  .button_filtri{
    font-size: 16pt;
    margin-bottom: 4px;
  }

  .button_filtri_immagini{
    font-size: 18pt;
    margin-bottom: 30px;
  }

  .not_selected{
    opacity: 50%;
  }

  @keyframes opacity_filtri {
  from {opacity: 50%!important;}
  to {opacity:100%!important}
  }

  .not_selected:hover{
    animation: opacity_filtri 0.5s forwards;
    opacity:100%!important;
  }

  /* QUADRATINO SELEZIONE */

  .quadratino_filtri{
    position: absolute;
    left: -25px;
    width: 6px;
    height: 6px;
    background-color: white;
  }

  .q_lista{
    top: 75px;
  }

  .q_immagini{
    top: 108px;
  }

  .q_tutti{
    top: 166px;
  }

  .q_coorporate{
    top: 195px;
  }

  .q_digitale{
    top: 225px;
  }

  .q_editoriale{
    top: 254px;
  }

  .q_illustrazione{
    top: 283px;
  }

  .q_installazione{
    top: 313px;
  }

  .nome_e_descrizione_img{
        width:44%;
        height: auto;
        /* height: 70px; */
        /* border: 1px solid yellow; */
        margin-top: 50px;
        opacity:50%;
        color: white;
        margin-right:25px;
        display: inline-table;
      }



}
