body{
font-family: 'Almarai', sans-serif;
padding:0px;
margin:0px;
cursor:default;

user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}

/* PHONE */

/* generali */
.line{
  width: 100%;
  height: 2px;
  background-color: black;
}

a{
  text-decoration: none;
  color: black;
}

/* header */
.header{
  position: fixed;
  top:0px;
  left: 5vw;
  width: 90vw;
  height: 60px;
  background-color: white;
  z-index: 2;
  /* border: 1px solid green; */
}

.line_header{
  position: absolute;
  bottom: 0%;
}

.header_name{
  position: absolute;
  font-weight: 400;
  font-size: 17px;
  transform: translate(0%, -50%);
  top:60%;
}


#works{
  left: 75px;
  background-color: rgb(0, 255, 0);
}

#contact{
  left:150px;
  cursor: pointer;
}

#home{
  right:0px;
}


/* contact */

@keyframes container_open {
  from{
    top: 30px;
    left: 200px;
    padding: 0px;
    opacity: 0;
    transition: 1s;
    font-size: 0px;
    height: 0px;
    text-align: center;
  }
  to{
    top: 50vh;
    left: 50vw;
    padding: 40px 15px 20px 15px;
    opacity: 1;
    font-size: 20px;
    height: 85px;
    text-align: center;
  }
}

@keyframes container_close {
  from{
    top: 50vh;
    left: 50vw;
    padding: 40px 15px 20px 15px;
    opacity: 1;
    font-size: 20px;
    height: 85px;
    text-align: center;
  }
  to{
    top: 30px;
    left: 200px;
    padding: 0px;
    opacity: 0;
    transition: 1s;
    font-size: 0px;
    height: 0px;
    text-align: center;
  }
}

.contact_container{
  position: fixed;
  transform: translate(-50%, -50%);
  background-color: rgb(0, 255, 0);
  top: 50vh;
  left: 50vw;
  z-index: 3;
  font-size: 20px;
  padding: 40px 15px 20px 15px;
  line-height: 30px;
  text-align: center;
  opacity: 1;
  height: 85px;
  animation: container_open 0.5s;
  /* border: 2px solid black; */
}

.contact_container_sparito{
  z-index: 3;
  position: fixed;
  transform: translate(-50%, -50%);
  background-color: rgb(0, 255, 0);
  top: 30px;
  left: 200px;
  padding: 0px;
  opacity: 0;
  font-size: 0px;
  height: 0px;
  animation: container_close 0.5s;
}

.green_background{
  background-color: rgb(0, 255, 0);
}

.exit{
  position: absolute;
  width: 25px;
  height: 25px;
  transform: translate(-50%,0) rotate(180deg);
  left: 50%;
  top: 10px;
  background-image: url("images/x.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 15px;
  cursor: pointer;
  /* background-color: rgb(0, 255, 0);
  border: 2px solid black; */
}

.exit:hover{
  background-image: url("images/x_white.png");
  transition: 0.2s;
}


.contact_popup:hover{
  color: white;
  transition: 0.2s;
}

.contact_popup{
  text-decoration: underline;
}



/* body */

#zefir_nome{
  width: 100px;
}

.false_container{
  height:80px!important;
}

.container{
  position:relative;
  margin-top: 5px;
  width:90vw;
  margin-left: 5vw;
  /* border: 1px solid green; */
}

.lavori_nomi{
  display: inline-block;
  font-weight: 400;
  font-size: 22px;
}

.arrow{
  position: absolute;
  right:-7px;
  width: 15px;
  top:13px;
  transform: translate(-50%,-50%);
  transition: 0.8s;
}

.rotate{
  transform: translate(-50%,-50%) rotate(180deg);
  transition: 0.5s;
}

.nome{
  margin-left: 23px;
  transition: 0.5s;
  transition-property: background-color;
  cursor: pointer;
}

.pointer{
  cursor: pointer;
}

.color{
    background-color: rgb(0, 255, 0);
    transition: 0.5s;
}

.categoria{
  margin-left: 75px;
  margin-top: 3px;
}

.line_works{
  margin-top: 20px;
  margin-bottom: 20px;
}

.img{
  width: calc(100% - 75px);
  margin-left: 75px;
  margin-top: 10px;
}

.work_description{
  font-weight: 400;
  font-size: 20px;
  margin-left: 75px;
  margin-top: 10px;
}

.link{
  text-decoration: underline;
  line-height: 30px;
}

.display_none{
  display: none;
}




/* TABLET */

@media (min-width: 768px) {

.line{
  height: 3px;
}

.header{
  width:95vw;
  left:2.5vw;
}

.header_name{
  font-size: 24px;
}

.header_name:hover{
  background-color: rgb(0, 255, 0);
  transition: 0.5s;
}

#works{
  left: 150px;
}

#contact{
  left:300px;
}


/* contact */


@keyframes container_open {
  from{
    top: 30px;
    left: 380px;
    padding: 0px;
    opacity: 0;
    transition: 1s;
    font-size: 0px;
    height: 0px;
    text-align: center;
  }
  to{
    top: 50vh;
    left: 50vw;
    padding: 60px 20px 20px 20px;
    opacity: 1;
    font-size: 30px;
    height: 140px;
    text-align: center;
  }
}

@keyframes container_close {
  from{
    top: 50vh;
    left: 50vw;
    padding: 60px 20px 20px 20px;
    opacity: 1;
    font-size: 30px;
    height: 140px;
    text-align: center;
  }
  to{
    top: 30px;
    left: 380px;
    padding: 0px;
    opacity: 0;
    transition: 1s;
    font-size: 0px;
    height: 0px;
    text-align: center;
  }
}

.contact_container{
  position: fixed;
  transform: translate(-50%, -50%);
  background-color: rgb(0, 255, 0);
  top: 50vh;
  left: 50vw;
  z-index: 3;
  font-size: 30px;
  padding: 60px 20px 20px 20px;
  line-height: 45px;
  text-align: center;
  opacity: 1;
  height: 140px;
  animation: container_open 0.5s;
  /* border: 2px solid black; */
}

.contact_container_sparito{
  z-index: 3;
  position: fixed;
  transform: translate(-50%, -50%);
  background-color: rgb(0, 255, 0);
  top: 30px;
  left: 200px;
  padding: 0px;
  opacity: 0;
  font-size: 0px;
  height: 0px;
  animation: container_close 0.5s;
}


.exit{
  position: absolute;
  width: 30px;
  height: 30px;
  transform: translate(-50%,0) rotate(180deg);
  left: 50%;
  top: 20px;
  background-image: url("images/x.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 25px;
  cursor: pointer;
  /* background-color: rgb(0, 255, 0);
  border: 2px solid black; */
}


/* body */

.container{
  margin-top: 5px;
  width:95vw;
  margin-left: 2.5vw;
  /* border: 1px solid green; */
}

.lavori_nomi{
  font-size: 30px;
}

.nome{
  position: absolute;
  left:14vw;
  transition: 0.5s;
  transition-property: background-color!important;
}

.container:hover .nome{
  background-color: rgb(0, 255, 0);
  transition: 0.2s;
}
/*
.container:hover .display_none{
  display: contents!important;
} */

.categoria{
  position:absolute;
  left:45vw;
}

.img{
  width: calc(100% - 17vw);
  margin-left: 17vw;
  margin-top: 30px;
  display: inline-flex;
}

/* .work_description_total{
  position: absolute;
  left:calc(53% + 20px);
  width:30%;
  top: 40px;
} */

.work_description_total{
  position: relative;
  display: inline-block;
  margin-top:0px;
  margin-left: 17vw;
  width: 50%;
}

.work_description{
  font-size: 22px;
  margin-top: 20px;
  margin-left: 0px;
}

.link{
  line-height: 35px;
}

.green:hover{
  color: rgb(0, 255, 0);
  transition: 0.2s;
}

}


/* DESKTOP */

@media (min-width: 1000px){

  .img{
    width: 50%;
    /* height:calc(100% - 100px); */
    margin-left: 0px;
    margin-top: 30px;
    display: inline-flex;
    /* border: 1px solid black; */
  }

  .work_description_total{
    position: absolute;
    margin-left: 0vw;
    left:calc(53% + 10px);
    width:30%;
    top: 40px;
  }

}
